* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
}
body {
    background-color: #edf1fd;
}

input[type=checkbox]:checked + p {
    text-decoration: line-through;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4em 0 2em;
    height: 100vh;
}

.header_title{
    font-family: 'Varela Round', sans-serif;
    font-size: 3rem;
    letter-spacing: 3px;
    color: #fff;
    background-color: #39aefcbb;
    padding: 0.25em 2.5em;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 515px;
    text-align: center;
    box-shadow: 5px 5px 5px #cad0e4ad;
}

.box{
    background-color: #fff;
    width: 515px;
    border-radius: 10px;
    padding: 1em 0;
    box-shadow: 5px 5px 5px #cad0e4ad;
}

.added_item {
    display: inline;
    margin-left: 1em;
    font-size: 1.5rem;
}

.new_item{
    width:90%;
    padding: 0 1em;
    outline: none;
    border: none;
    font-size: 1.25rem;
    border-bottom: 3px solid #39aefcbb;
    text-align: center;
    margin-bottom: 0;
}

.button {
    display: inline;
    background-color: #39aefcbb;
    font-size: 1.5rem;
    color: #fff;
    outline: none;
    border: none;
    padding:.25em .5em;
    border-radius: 50%;
}
.form_group{
    padding: .1em 2em;
    margin: 1em 0 2em;
}

.form_group:not(:last-child){
    border-bottom: 1px solid #edf1fd;
    padding: 1em 2em;
}


@media (max-width: 420px) {

    .container {
        margin: 5em 1em 0;
    }

    .added_item{
        font-size: 1.1rem;
    }
    .box,
    .header_title {
        width: 350px;
    }

    .header_title {
        padding: 0.25em 1em;
        font-size: 1.75rem;
    }

    .new_item {
        width: 80%;
        font-size: 1.1rem;
    }
    
}